*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

#container{
  position: relative;
  text-align: center;
  top: 20px;
}


.box{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 400px;
}
/* Inserimento immagini e posizionamento orizzontale*/
li.ipad{
  background-image: url(../img/pd1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
}

li.iphone{
  background-image: url(../img/pd2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
}

li.cuffie{
  background-image: url(../img/pd3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
}

.sconto{
  position: absolute;
  right:0;
  width: 40px;
  height: 20px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.cuoricino{
  display: none;
  /* background-color: inherit; */
  position: absolute;
  font-size: 30px;
  color: red;
  bottom: 0;
  left: 50%;
}
/* dico che quando va col mouse sopra ad un list item esce il cuoricino */
li:hover div.cuoricino{
  display: block;
}
